<div class="blogs">
  <h1 class="section-heading">Articles</h1>
  <div class="container">
    <h2 class='text-center'>By Category</h2>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style='padding-top: 10px;'>
      <div class="carousel-inner">
        <% count = 1 %>
        <% blog.tags.each do |tag, articles| %>
        <div class="carousel-item <%= "active" if count == 1 %>">
          <p class='d-block w-100 text-center' alt="First slide"><%= link_to "#{tag} (#{articles.size})", tag_path(tag) , class: 'tags' %></p>
        </div>
        <% count += 1 %>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <% page_articles.each_with_index do |article, i| %>
    <!-- <p><%= article.date.strftime('%b %e, %Y') %></p> -->
    <p> <%= article.summary %></p>
    <%= link_to 'Read', article, class: "btn btn-block" %>
    <% end %>
  </div>
</div>
